section{
    background-color: var(--bgc-main);
    color: var(--fc-main);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px 12px;
    border-radius: 8px;
    border: 2px solid darkgray;
}
.quit{
    position: fixed;
    top:8px;
    right: 8px;
    font-size: 13px;
}
.form {
    font-size: 13px;
    padding: 8px;
}

.form>div{
    margin-bottom: 11px;
}

.form>div>label{
    margin-bottom: 2px;
}

.form>div input{
    padding: 6px 3px;
    min-width: 190px;
    text-align: center;
    border-radius: 4px;
}

.form>div input.error{
    border-color: var(--dark-red);
    background-color: lightcoral;
}

.form>div input:focus{
    border: 3px solid darkgray;
}

.form label{
    display: block;
}

.form button{
    margin-top: 10px;
    background-color: var(--dark-red);
    color: var(--fc-main);
    padding: 5px 15px;
    border-radius: 4px;
    font-weight: bold;
}

section h1{
    font-size: 24px;
    margin: 0 auto;
}

section>button {
    background-color: transparent;
    color: var(--dark-red);
    font-weight: bold;
}