.hall {
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/cinema-theme.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,0.5);
    min-height: 100vh;
}

.centerwrapper>div{
    background-color: rgba(0,0,0,0.8);;
    border: 3px solid darkgrey;
    padding: 30px;
    border-radius: 20px;
}

.loaderwrapper{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: rgba(0,0,0,0.8);
    z-index: 5;
}