.navigation {
    background-color: black;
    padding: 20px;
    height: 59px;
    border-bottom: 2px solid darkgray;
    font-size: 15px;
}

.navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: grey;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.navigation ul button{
    color: grey;
    text-transform: uppercase;
    background: none;
    transition: 0.4s;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.navigation ul button.log-reg-fs {
    font-size: 8px;
}

.navigation ul button:hover{
    color: #c42b2b;
}

.buttonwrapper{
    display: flex;
    align-items: center;
}

.navigation ul li {
    padding-inline: 10px;
    transition: 0.4s;
}

.navigation ul li:hover{
    color: #c42b2b;
}

.navigation ul li:not(:last-child) {
    border-right: 1px solid darkgray;
}

.navigation ul .active{
    color: white;
}

@media (min-width: 360px){
    .navigation{
        font-size: 20px;
        height: 65px;
    }
    .navigation ul li{
        padding-inline: 10px;
    }
    .navigation ul button{
        font-size: 20px;
    }

    .navigation ul button.log-reg-fs {
        font-size: 10px;
    }
}

@media (min-width: 760px){
    .navigation{
        font-size: 30px;
        height: 80px;
    }
    .navigation ul li{
        padding-inline: 20px;
    }
    .navigation ul button{
        font-size: 30px;
    }

    .navigation ul button.log-reg-fs {
        font-size: 15px;
    }
}

@media (min-width: 1000px){
    .navigation{
        font-size: 50px;
        height: 100px;
    }
    .navigation ul li{
        padding-inline: 35px;
    }
    .navigation ul button{
        font-size: 50px;
    }

    .navigation ul button.log-reg-fs {
        font-size: 25px;
    }
}

