.card{
    padding:30px 0;
    border-top: 1px solid darkgray;
    color: white;
}

.card h2{
    text-align: center;
    text-transform: uppercase;
    line-height: 2;
}

.card h3{
    text-align: center;
}

.info {
    color: darkgray;
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding: 10px 0;
}

.info li:not(:last-child) {
    border-right: 2px solid darkgray;
}

.info li{
    padding: 10px;
}

.hours{
    justify-content: center;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    column-gap: 7px;
}

.hours li {
    border: 2px solid #c42b2b;
    padding: 8px 12px;
}