.calendar{
    margin-top: 40px;
    padding: 10px;
    background-color: rgba(255,255,255,0.8);
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    filter: invert(1);
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}
@media (min-width: 760px){
    .calendar{
        padding: 15px;
        font-size: 24px;
    }
}

@media (min-width: 1000px){
    .calendar{
        padding: 24px;
        font-size: 35px;
    }
}

@media(min-width: 1280px) and (orientation: landscape){
    .calendar{
        padding: 15px;
        font-size: 20px;
    }
}