.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 3px;
    margin: 10px;
}

.row>button {
    background-color: transparent;
    color: grey;
    text-align: center;
    aspect-ratio: 1/1;
    border: none;
    border-radius: 5px;
    z-index: 4;
    font-size: 24px;
    position: relative;
}

.row>button>span{
    font-size: 10px;
    color: grey;
    font-weight: bold;
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
}

.screen{
    margin-top: 20px;
    color: gray;
    text-align: center;
    text-transform: uppercase;

}

.screen div{
    height: 10px;
    width: 85%;
    margin: 0 auto;
    background-color: grey;
}

.row button i {
    z-index: 2;
}

.row button.active {
    color: lawngreen;
}

.row button.occupied {
    color: red;
}


.row button span.occupied{
    color: red;
}

.row button span.active{
    color: black;
}

.linewrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: darkgrey;
}

.line{
    margin: 0 5px;
    background-color: darkgrey;
    height: 3px;
    width: 50px;
}