div.reservationareawrapper{
    padding: 2px;
}

@media (min-width: 360px){
    div.reservationareawrapper{
        padding: 15px 15px 0;
    }
}

@media (min-width: 1000px){
    div.reservationareawrapper{
        padding: 30px 30px 0;
    }
}