div.reservationareawrapper{
    padding: 40px;
}

.reservationbtn{
    color: white;
    background-color: var(--dark-red);
    font-family: 'Roboto', sans-serif;
    padding: 15px 20px;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 24px;
}

.reservationbtn.locked{
    color: lightgray;
    background-color: darkgray;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 3px;
    margin: 10px;
}

.row>button {
    background-color: transparent;
    color: grey;
    text-align: center;
    aspect-ratio: 1/1;
    border: none;
    border-radius: 5px;
    z-index: 4;
    font-size: 24px;
    position: relative;
}

.row>button>span{
    font-size: 10px;
    color: grey;
    font-weight: bold;
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
}

.screen{
    margin-top: 20px;
    color: gray;
    text-align: center;
    text-transform: uppercase;

}

.screen div{
    height: 10px;
    width: 85%;
    margin: 0 auto;
    background-color: grey;
}

.row button i {
    z-index: 2;
}

.row button.active {
    color: lawngreen;
}

.row button.occupied {
    color: red;
}


.row button span.occupied{
    color: red;
}

.row button span.active{
    color: black;
}

.legend{
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 18px;
}

.underscreen{
    border-top: 2px solid darkgrey;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
}

.legend>div{
    margin-right: 20px;
    color: white;
}

.legend>div:nth-child(1)>i{
    color:darkgrey;
}

.legend>div:nth-child(2)>i{
    color: var(--dark-red);
}

.legend>div:nth-child(3)>i{
    color: lawngreen;
}

.linewrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: darkgrey;
}

.line{
    margin: 0 5px;
    background-color: darkgrey;
    height: 3px;
    width: 50px;
}