.reservationbtn{
    color: white;
    background-color: var(--dark-red);
    font-family: 'Roboto', sans-serif;
    padding: 10px 3px;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 10px;
}

.reservationbtn.locked{
    color: lightgray;
    background-color: darkgray;
}

.legend{
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 9px;
}

.underscreen{
    border-top: 2px solid darkgrey;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.legend>div{
    margin-right: 6px;
    color: white;
}

.legend>div:nth-child(1)>i{
    color:darkgrey;
}

.legend>div:nth-child(2)>i{
    color: var(--dark-red);
}

.legend>div:nth-child(3)>i{
    color: lawngreen;
}

@media (min-width: 360px) and (orientation: portrait) {
    .reservationbtn{
        padding: 10px 6px;
        font-size: 15px;
    }
    .legend{
        font-size: 11px;
    }

    .legend>div {
        margin-right: 8px;
    }
}

@media (min-width: 540px) and (orientation: portrait) {
    .reservationbtn{
        padding: 10px 7px;
        font-size: 18px;
    }
    .legend{
        font-size: 13px;
    }

    .legend>div {
        margin-right: 12px;
    }
}
@media (min-width: 760px) and (orientation: portrait) {
    .reservationbtn{
        padding: 10px 10px;
        font-size: 27px;
    }
    .legend{
        font-size: 20px;
    }

    .legend>div {
        margin-right: 18px;
    }

    .underscreen{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media (min-width: 1000px) and (orientation: portrait) {
    .reservationbtn{
        padding: 15px 15px;
        font-size: 35px;
    }
    .legend{
        font-size: 25px;
    }

    .legend>div {
        margin-right: 22px;
    }

    .underscreen{
        padding-top: 35px;
        padding-bottom: 35px;
    }
}