div.showtimeinfo {
    color: white;
    padding: 10px 15px;
    margin-bottom: 15px;
}

.showtimeinfo>div:nth-child(1){
    display: flex;
    font-size: 10px;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 2px solid darkgrey;
    align-items: center;
    text-transform: uppercase;
}

.showtimeinfo>div:nth-child(1)>div{
    display: flex;
    flex-direction: row;
}

.showtimeinfo>div>div>p{
    margin-left: 10px;
}

.showtimeinfo h2{
    font-size: 8px;
}

.showtimeinfo h5{
    font-size: 7px;
    font-style: italic;
}

.filminfo {
    color: darkgray;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.filminfo li{
    padding: 5px;
    font-size: 10px;
}

.filminfo li:not(:last-child) {
    border-right: 2px solid darkgray;
}

.showtimeinfo>div:nth-child(2) {
    display: grid;
    grid-template-columns: auto 1fr auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.showtimeinfo>div:nth-child(2)>div:nth-child(1) {
    padding: 10px 20px 10px 0;
}

.showtimeinfo>div:nth-child(2)>div:nth-child(3) {
    padding: 10px 0 10px 20px;
}

.space{
    height: 100%;
    border-right: 2px solid darkgrey;
}

@media (min-width: 360px){
    .showtimeinfo>div:nth-child(1){
        font-size: 13px;
    }

    .showtimeinfo h2{
        font-size: 13px;
    }

    .showtimeinfo h5{
        margin-top: 5px;
        font-size: 10px;
    }

    .filminfo li{
        padding: 8px 5px;
        font-size: 12px;
    }
}

@media (min-width: 540px){
    .showtimeinfo>div:nth-child(1){
        font-size: 15px;
    }

    .showtimeinfo h2{
        font-size: 16px;
    }

    .showtimeinfo h5{
        margin-top: 5px;
        font-size: 13px;
    }

    .filminfo li{
        padding: 9px 5px;
        font-size: 13px;
    }
}

@media (min-width: 760px){
    .showtimeinfo>div:nth-child(1){
        font-size: 20px;
    }

    .showtimeinfo h2{
        font-size: 25px;
    }

    .showtimeinfo h5{
        margin-top: 7px;
        font-size: 17px;
    }

    .filminfo li{
        padding: 9px 5px;
        font-size: 18px;
    }
}

@media (min-width: 1000px){
    .showtimeinfo>div:nth-child(1){
        font-size: 31px;
    }

    .showtimeinfo h2{
        font-size: 35px;
    }

    .showtimeinfo h5{
        margin-top: 12px;
        font-size: 24px;
    }

    .filminfo li{
        padding: 9px 5px;
        font-size: 25px;
    }
}